﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      WhichSub?
    </title>
  </head>
  <body>
    <form action="">
        <fieldset>
            Language code:<br>
            <input type="text" name="code" value="{{ code }}"><br>
            Family:<br>
            <input type="text" name="family" value="{{ family }}"><br>
            Page title:<br>
            <input type="text" name="pagetitle" value="{{ pagetitle }}" autofocus style="width: 100%"><br>
            Looking for:<br>
            <input type="text" name="lookingfor" value="{{ lookingfor }}" style="width: 100%"><br>
            <input type="checkbox" name="wholeword" {{ 'checked' if wholeword else '' }}>Match whole word only<br>
            <input type="checkbox" name="matchcase" {{ 'checked' if matchcase else '' }}>Match case<br>
            <input type="hidden" name="matchcase"/>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <br>
    {% if templates %}
        Found templates:
        <ol>
        {% for template in templates %}
            <li>
                <a href="{{ template.full_url() }}">{{ template.title()|e }}</a>
                (<a href="{{ template.full_url() }}?&action=edit">edit</a>)
                (<a href="{{ template.full_url() }}?&action=history">history</a>)
            </li>
        {% endfor %}
        </ol>
    {% elif templates is not none %}
         No Results Found.
    {% endif %}
  </body>
  <p style="position: absolute; right: 1.5em; top: 0;"><a href="https://github.com/5j9/whichsub">github</a></p>
</html>